
    <div class="w-full bg-white shadow-lg rounded-lg p-6 mt-16 mx-auto max-w-4xl">
      <h2 class="text-2xl font-bold mb-4 text-center">À propos de l'application Quiz</h2>
      <p class="text-lg text-gray-700 mb-4">
        Cette application Quiz est conçue pour offrir une plateforme interactive où les utilisateurs peuvent tester leurs connaissances dans différents domaines. 
        Elle permet de créer, de participer à des quiz variés et de suivre les progrès au fil du temps.
      </p>
      <p class="text-lg text-gray-700">
        Notre mission est de rendre l'apprentissage amusant et accessible à tous, en fournissant une expérience utilisateur engageante et éducative.
      </p>
    </div>
 
  