@tailwind base;
@tailwind components;
@tailwind utilities;

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; /* ボタン間にスペースを追加 */
}
