@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 mb-4 bg-secondary rounded-3 text-white">
    <h1>Interview Web App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    
</div>