<div class="flex">
  <!-- Sidebar -->
  <div class="sidebar w-1/4 h-screen bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white p-6">
    <ul>
      <li><a routerLink="/profile">Gérer le Profil</a></li>
      <li><a routerLink="/admin/candidates">Candidats</a></li>
      <li><a routerLink="/QuizGenerator">Générer un Quiz</a></li>
      <li><a routerLink="/resultats">Résultats</a></li>
      <li><a routerLink="/accueil">Déconnexion</a></li>
    </ul>
    
  </div>

  <!-- Main Content -->
  <div class="main-content w-3/4 p-6">
    <div class="content-wrapper w-full bg-white shadow-lg rounded-lg p-6 mx-auto max-w-4xl">
      <h1 class="text-3xl font-bold text-center mb-6">Liste des Candidats</h1>
      <div class="card-container">
        <div class="card">
          <div class="card-header">
            <h3>Id-Candidat: 0</h3>
            <p>Nom: Stelian Stanciu</p>
          </div>
          <div class="card-actions">
            <button class="bg-blue-500">Modifier</button>
            <button class="bg-red-500">Supprimer</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3>Id-Candidat: 1</h3>
            <p>Nom: John Doe</p>
          </div>
          <div class="card-actions">
            <button class="bg-blue-500">Modifier</button>
            <button class="bg-red-500">Supprimer</button>
          </div>
        </div>
        <!-- Ajoutez plus de cartes ici -->
      </div>
    </div>
  </div>
</div>
