@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
  padding: 2rem;
  margin: 0 auto; // Center the table horizontally
  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-collapse: collapse;
  display: block; // Ensures margin auto works for centering
  width: fit-content; // Ensures the table does not stretch full width
  margin-top: 50px; /* Adds space between the navbar and the table */
}

.table-container th, .table-container td {
  border: 1px solid gray;
  padding: 0.5rem;
  text-align: left;
}   

.table-container th, .table-container td {
  border: 1px solid gray;
  padding: 0.5rem;
  text-align: left;
}   
.sidebar {
  position: fixed;
  left: 0;
  top: calc(60px + 1rem); /* Adjusted to not cover the navbar with class mb-4 */
  width: 250px;
  height: calc(100% - 60px - 1rem); /* Adjusted height to account for navbar and additional margin */
  background-color: #2a9d8f; /* Cool teal background */
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-candidat {
  background-color: #264653; /* Dark blue background */
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-candidat:hover {
  background-color: #3a6f81; /* Lighter blue on hover */
}
