<div class="flex">
  <!-- Sidebar -->
  <div class="sidebar w-1/4 h-screen bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white p-6">
    <ul>
      <li><a href="/profile">Gérer le Profil</a></li>
      <li><a href="/admin/candidates">Candidats</a></li>
      <li><a href="/quiz">Générer un Quiz</a></li>
      <li><a href="/resultats">Résultats</a></li>
      <li><a href="/accueil">Déconnexion</a></li>
    </ul>
  </div>

<div class="main-content w-3/4 p-6">
  <div class="content-wrapper w-full bg-white shadow-lg rounded-lg p-6 mx-auto max-w-4xl">
    <h1 class="text-3xl font-bold text-center mb-6">Bienvenue sur la page Agence</h1>
  </div>
</div>
