<div class="sidebar">
  <div style="float: left;">
    <button class="btn-candidat" > <a href="/dashboardCandidat">Candidat</a> </button>
  </div>
</div>


<table class="table-container">
  <tr style="background-color: #2a9d8f;">
    <th>Id-agence</th>
    <th>Nom</th>
    <th>opération</th>
  </tr>
  <tr>
    <th>0</th>
    <th>agence1</th>
    <th>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">modifier</button>
      <span class="mx-2"></span> <!-- Small space between buttons -->
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">supprimer</button>
    </th>
  </tr>
  <tr>
    <th>1</th>
    <th>agence2</th>
    <th>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">modifier</button>
      <span class="mx-2"></span> <!-- Small space between buttons -->
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">supprimer</button>
    </th>
  </tr>
  <!-- Les lignes de données peuvent être ajoutées ici -->
</table>
