<header>
  <h1>{{ title }}</h1>
  <nav>
    <div class="menu-burger" (click)="toggleMenu()">&#9776;</div>
    <div class="menu-items" [ngClass]="{'active': isMenuOpen}">
      <button class="close-menu" (click)="toggleMenu()">✕</button>

      <a routerLink="/" (click)="closeMenu()">Accueil</a>
      <a routerLink="/apropos" (click)="closeMenu()">A propos</a>
      <a routerLink="/contact" (click)="closeMenu()">Contact</a>
      <a routerLink="/login" *ngIf="!isLoggedIn" (click)="closeMenu()">Se connecter</a>
      <a *ngIf="isLoggedIn" (click)="logout(); closeMenu()">Logout</a>
      <a routerLink="/dashbordAdmin" *ngIf="isAdmin" (click)="closeMenu()">Admin</a>
      <a routerLink="/dashbordAgence" *ngIf="isAgency" (click)="closeMenu()">Agence</a>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="social-links">
    <a href="https://github.com/Stelian2022" target="_blank">GitHub</a>
    |
    <a href="https://www.linkedin.com/in/stelian-constantin-stanciu" target="_blank">LinkedIn</a>
  </div>
  <p>&copy; 2024 Web School. Tous droits réservés.</p>
</footer>
