<header>
  <h1>{{ title }}</h1>
  <nav>
    <div class="menu-burger" (click)="toggleMenu()">&#9776;</div>
    <div class="menu-items">
      <a routerLink="/">Accueil</a>
      <a routerLink="/apropos">A propos</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/login">Se connecter</a>
      <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
      <a routerLink="/dashbordAdmin">Admin</a>
      <a routerLink="/dashbordAgence">Agence</a>
    </div>
  </nav>
</header>
<main>
</main>
<router-outlet></router-outlet>
<footer>
  <p>&copy; 2023 Web School. Tous droits réservés.</p>
</footer>
