<div class="container">
  <div *ngIf="isVisible" id="timer">{{ minutes }}:{{ seconds }}</div>
  <label class="switch">
    <input type="checkbox" (change)="toggleVisibility()" [checked]="isVisible">
    <span class="slider round"></span>
  </label>
  <div class="toggle-label">{{ toggleLabel }}</div>
</div>

<div *ngIf="quiz" class="mx-auto max-w-4xl bg-[#ebf3ff] mt-10 shadow-lg rounded-lg">
<!--  <h2 class="text-2xl font-bold text-center">{{ quiz.title }}</h2>-->
  <h2 class="text-2xl font-bold text-center">Question {{ currentQuestionIndex + 1 }} sur {{ quiz.questions.length }}</h2>
  <div *ngIf="currentQuestionIndex < quiz.questions.length">
    <div class="text-center">
      <h3 class="text-xl">{{ quiz.questions[currentQuestionIndex].text }}</h3>
      <div *ngFor="let option of quiz.questions[currentQuestionIndex].options" class="mt-2">
        <label class="inline-flex items-center">
          <input type="checkbox" class="form-checkbox" name="answer" [value]="option" (change)="submitAnswer(quiz.questions[currentQuestionIndex], option)">
          <span class="ml-2">{{ option }}</span>
        </label>
      </div>
      <textarea class="w-full mt-4 p-2 border" placeholder="Ajoutez un commentaire" (input)="addComment(quiz.questions[currentQuestionIndex], $any($event.target).value)"></textarea>
    </div>
    <div class="flex justify-center mt-4">
      <button *ngIf="currentQuestionIndex < quiz.questions.length - 1" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full ml-2 transition duration-300 ease-in-out" (click)="nextQuestion()">Suivant</button>
      <button *ngIf="currentQuestionIndex === quiz.questions.length - 1" class="bg-green-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full ml-2 transition duration-300 ease-in-out" (click)="completeQuiz()">Terminer le Quiz</button>
    </div>
  </div>
</div>
