<footer>
    <div class="footer-container">
      <div class="social-links">
        <h3>Mutsumi Crusson</h3>
        <a href="https://github.com/MutCru" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/mutsumi-crusson-150a202a8/" target="_blank">LinkedIn</a>
      </div>
      <div class="social-links">
        <h3>Stanciu Stelian-Constantin</h3>
        <a href="https://github.com/Stelian2022/FIl-Rouge" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/stelian-constantin-stanciu" target="_blank">LinkedIn</a>
      </div>
      <div class="social-links">
        <h3>Gilles Brouillier</h3>
        <a href="https://github.com/GillesBrouillier" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/gilles-brouillier-9735952b2/" target="_blank">LinkedIn</a>
      </div>
    </div>
    <p>&copy; 2024 Web School. Tous droits réservés.</p>
  </footer>
  